@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <!--Bootstrap-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap-->

    <link href="~/Resources/css/frameworks/bootstrap.min.css" rel="stylesheet" />

    <title>Disclosure</title>

</head>
<body ng-app="disclosureApp">
    @RenderBody()

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/disclosureApp")
</body>
</html>




